<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <script src="/static/login.js"></script>
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form method="post" action="/login">
        <label>Username</label>
        <input type="text" name="username" id="username" />
        <label>Password</label>
        <input type="password" name="password" />
        <button value="submit" id="submit" onclick="loginformsubmit();">submit</button>
      </form>
    </div>
    <p class="para-2">do not have an account?Go to our Sign Up page.
    </p>
  </body>
</html>