<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login or Signup</title>
    <link rel="stylesheet" href="/static/options.css">
</head>
<body>
<div class="bg-image"></div>
<div class="bg-text">
  <h1>Welcome to EYN.</h1>
  <p>Please <a href="/views/signin.pug">Signup</a> or <a href="/views/login.pug">login</a> to continue to website</p>
</div>
</body>
</html>